<table class="table">
  <tbody>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :identifier, label: "Identifier" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :code, label: "Code" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :alternative_code, label: "AlternativeCode" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :label, label: "Label" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :alternative_label, label: "Alternative Label" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :name, label: "Name" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :competency_text, label: "Competency Text" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :abbreviated_competency_text, label: "Abbreviated Competency Text" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :comment, label: "Comment" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :competency_category, label: "Competency Category" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :concept_keyword, label: "Concept Keyword" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :education_level, label: "Education Level" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :complexity_level, label: "Complexity Level" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :language, label: "Language" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :list_id, label: "List ID" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :creator, label: "Creator" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency, attribute: :weight, label: "Weight" } %>
  </tbody>
</table>
