<table class="table">
  <tbody>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :publisher, label: "Publisher" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :publisher_name, label: "Publisher name" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :education_level, label: "Education level" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :language, label: "Language" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :rights, label: "Rights" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :rights_holder, label: "Rights holder" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :license, label: "License" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :identifier, label: "Identifier" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :valid_start_date, label: "Valid start date" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :valid_end_date, label: "Valid end date" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :jurisdiction, label: "Jurisdiction" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :derived_from, label: "Derived from" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :publication_status, label: "Publication status" } %>
    <%= render partial: "competency_frameworks/show/details_attribute", locals: { object: competency_framework, attribute: :source, label: "Source" } %>
  </tbody>
</table>
