<li class="tree-item <% if competency.children.present? %>has-children collapsed<% end %>">
  <div class="header">
    <% if competency.children.present? %>
      <div class="collapse-toggle"><span>â¯</span></div>
    <% end %>
    <div class="details-toggle p-1">
      <% if competency.code.present? %>
        <strong><%= competency.code %></strong>
      <% end %>
      <%= competency.abbreviated_competency_text || competency.competency_text %>
    </div>
  </div>

  <div class="details">
    <h6>Competency details</h6>
    <table class="table">
      <tbody>
        <% COMPETENCY_ATTRIBUTES.each do |attribute| %>
          <% val = competency[attribute[:key]] %>

          <% if val.present? %>
            <tr>
              <th><%= attribute[:label] %></th>
              <td>
                <% if val.is_a?(Array) %>
                  <% if val.size > 1 %>
                    <ul>
                      <% val.each do |v| %>
                        <li><%= simple_format(v) %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <%= simple_format(val.first) %>
                  <% end %>
                <% else %>
                  <%= simple_format(val) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <% if competency.children.present? %>
    <ul class="children list-unstyled">
      <%= render partial: "competency_frameworks/show/tree_item", collection: competency.children, as: :competency %>
    </ul>
  <% end %>
</li>
