<li class="tree-item <% if competency.children.present? %>has-children collapsed<% end %>">
  <div class="header">
    <% if competency.children.present? %>
      <div class="collapse-toggle"><span>â¯</span></div>
    <% end %>
    <div class="details-toggle p-1">
      <% if competency.code.present? %>
        <strong><%= competency.code %></strong>
      <% end %>
      <%= competency.abbreviated_competency_text || competency.competency_text %>
    </div>
  </div>

  <div class="details">
    <h6>Competency details</h6>
    <div class="table-wrapper">
      <table class="table">
        <tbody>
          <% COMPETENCY_ATTRIBUTES.each do |attribute| %>
            <% val = competency[attribute[:key]] %>
            <% if val.present? %>
              <tr>
                <th><%= attribute[:label] %></th>
                <td>
                  <%= display_attribute_value(val) %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <% if competency.children.present? %>
    <ul class="children list-unstyled">
      <%= render partial: "containers/show/tree_item", collection: competency.children, as: :competency %>
    </ul>
  <% end %>
</li>
