<li class="media p-3 border-bottom">
  <div class="media-body">
    <h6>
      <%= link_to container.fetch("title"), competency_framework_path(id: container.fetch("id")), target: "_blank" %>
    </h6>

    <% if container.fetch("description").present? %>
    <div class="mb-2 small text-muted">
      <%= truncate(container.fetch("description"), length: 300) %>
    </div>
    <% end %>

    <p>
      <%= render "hit_score", value: container.fetch("hitScore") %>
      <%= link_to "Beneficiary Rights", container.fetch("beneficiaryRights"), target: "_blank" %>
    </p>

    <ol>
      <% container.fetch("competencies", []).each do |competency| %>
        <li class="mb-2">
          <% if competency.fetch("external_id") %>
          <%= link_to competency.fetch("competency_text"), competency_path(id: competency.fetch("external_id")), target: "blank" %>
          <% else %>
          <%= competency.fetch("competency_text") %>
          <% end %>
          <%= render "hit_score", value: competency.fetch("hit_score") %>
        </li>
      <% end %>
    </ol>
  </div>
  <%= image_tag container.fetch("attributionLogoUrl"), alt: container.fetch("attributionName"), class: "ms-3", height: 30 %>
</li>
