<li class="card d-flex mb-3">
  <div class="card-body">
    <%= image_tag container.attribution_logo_url, alt: container.attribution_name, class: "float-end", width: "75px" %>

    <h5 class="card-title me-5">
      <%= link_to container.title, container.html_url.presence || container_path(id: container.id), class: "link-offset-2", target: "_blank" %>
    </h5>

    <% if container.description.present? %>
    <p class="card-text">
      <%= truncate(container.description, length: 300) %>
    </p>
    <% end %>

    <%= link_to "Beneficiary Rights", container.beneficiary_rights, class: "card-link link-offset-2", target: "_blank" %>

    <ol class="list-group list-group-flush list-group-numbered">
      <% container.competencies.each do |competency| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <% if competency.external_id %>
            <%= link_to competency.competency_text, competency.html_url.presence || competency_path(id: competency.external_id), class: "link-offset-2", target: "blank" %>
            <% else %>
            <%= competency.competency_text %>
            <% end %>
          </div>

          <% if competency.hit_score %>
          <span class="badge bg-success font-monospace rounded-pill" title="Hit score">
            <%= number_with_precision(competency.hit_score, precision: 2) %>
          </span>
          <% end %>
        </li>
      <% end %>
    </ol>

    <% if container.total_count > Search::PER_CONTAINER && @global_search %>
    <%= link_to container_search_path(container_id: container.id, search_form: params.require(:search_form).permit!), class: "card-link link-offset-2 mt-2 ms-0", target: "_blank" do %>
      Show all competencies (<%= number_with_delimiter(container.total_count) %>)
    <% end %>
    <% end %>
  </div>
</li>
