<%= form_for :search, url: root_path, method: :get do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :container_query, "Container" %>
      <%= f.text_field :container_query, class: "form-control form-control-lg", name: "container_query", placeholder: "Name or URI", value: @container_query %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :competency_query, "Competency" %>
      <%= f.text_field :competency_query, class: "form-control form-control-lg", name: "competency_query", value: @competency_query %>
    </div>
  </div>
  <%= f.submit "Search", class: "btn btn-info mr-2", name: nil %>
  <%= link_to "Clear", root_path, class: "btn btn-secondary" %>
<% end %>
